@charset "utf-8";

/* Reset Padrão */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Configurações Gerais */
body {
  background-color: #ededed;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  text-align: center;
  background-color: black;
  color: white;
  font-family: "Passion One", sans-serif;
  padding: 50px 20px;
}

header > h1 {
  font-size: 3.5rem;
  padding-bottom: 10px;
}

p#header {
  font-size: 1.2rem;
  font-family: "Gill Sans", Calibri, sans-serif;
}

a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

/* Estilização dos Textos do Cordel */
main > p {
  text-align: left;
  font-size: 1.4rem;
  margin: 100px auto;
  max-width: 800px;
  font-family: "Sriracha", sans-serif;
  line-height: 2.5;
  padding: 0 30px;
}

/* Blocos com efeito Parallax */
main div#a,
main div#b {
  text-align: left;
  font-size: 1.4rem;
  padding: 80px 30px;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.6);
}

main div#a {
  background-image: url("background001.jpg");
}

main div#b {
  background-image: url("background002.jpg");
}

/* Fundo escuro atrás do texto para dar leitura */
main > div > p {
  color: white;
  background-color: rgba(0, 0, 0, 0.55);
  width: fit-content;
  padding: 20px 30px;
  border-radius: 5px;
  font-family: "Sriracha", sans-serif;
  line-height: 2.5;
  margin: 0 auto;
  max-width: 800px;
}

/* Rodapé */
footer {
  text-align: center;
  font-size: 1rem;
  padding: 30px 20px;
  background-color: black;
  color: white;
}
