@charset 'utf-8';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    header{
        text-align: center;
        background-color: black;
        color: white;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        padding: 70px;
    }
    h1{
        font-size: 70px;
        margin-bottom: 10px;
    }
}