@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    header{
        text-align: center;
        background-color: black;
        color: white;
        font-family: passion one, sans-serif;
        padding: 5vw;
    }
    h1{
        font-size: 8vw;
    }
    p#header{
        font-size: 2vw;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    }
    a{
        text-decoration: none;
        color: white;
    }
    main>p{
        text-align: left;
        font-size: 3vw;
        margin-top: 5vw;
        margin-bottom: 25vw;
        font-family: sriracha, sans-serif;
        line-height: 2.5;
        padding: 0 2vw;
    }
    main div#a{
        text-align: left;
        font-size: 3vw;
        margin-top: 5vw;
        margin-bottom: 25vw;
        font-family: sriracha, sans-serif;
        line-height: 2.5;
        padding: 0 2vw;
        background-image: url(background001.jpg);
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.411);
    }
    main div#b{
        text-align: left;
        font-size: 3vw;
        margin-top: 5vw;
        margin-bottom: 25vw;
        font-family: sriracha, sans-serif;
        line-height: 2.5;
        padding: 0 2vw;
        background-image: url(background002.jpg);
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.411);
    }
    main>div>p{
        color: white;
        background-color: rgba(0, 0, 0, 0.5);
        width: fit-content;
    }
    footer{
        text-align: center;
        font-size: 1.5vw;
        padding: 2vw;
        background-color: black;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
    }
}